body{

    background-color:rgb(66, 55, 66);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;

}

.mainDiv{

    background-color:aliceblue;
    width: 500px;
    height: 430px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 5%;
    border: 1px solid;
}

.mainDiv div {

  height: 80px;
}

.mainDiv .userInfo {

    /* background-color: aquamarine; */
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.userInfo div {
    background: black;
    height: 50px;
    width: 450px;
    display: flex;
    justify-content:space-between;
    padding: 5px;
}

.User-items {
    padding:5px;
    margin-bottom: 50px;
}

.User-items div {

    background-color: rgb(37, 53, 49);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height:90px;
    

}
.User-items input{

    width: 100px;
    height: 20px;
}

.User-items p{
    margin-top: 1px;
    background-color: antiquewhite;
    height: 20px;
    width: 100px;
}



.totalPrice {

    width: 480px;
}
.totalPrice p {

    width: 140px;
    padding: 10px;  
    text-align: center;  
    margin-right: 110px;
}

 .addItems {

    margin-right: 20px;
    height: 40px;
    width: 100px;
 }
    


.saveItems button {

    width: 200px;
    height: 50px;
    margin-left: 150px;
    margin-top:25px;
    cursor: pointer;

}

button {
    cursor: pointer;
}

svg {
    width: 30px;
}